#menu {
    font-size:15px;
    position:relative;
    display: inline;
}

#menu ul {
    list-style-type:none;
    list-style-image:none;
}

#menu li.topmenu {

}

.topmenu{
    margin-left: 10px;
}
.topmenu a {

    width:10px;
    text-align:center;
}


.topmenu a, .submenu a{
    border-collapse:collapse;
    color: #f8fffc;
    font-weight:bold;
    text-decoration:none;
    margin:0;
}


.submenu {
    font-size:12px;
    width:50px;
    position:relative;
    cursor: pointer;
}
.submenu:hover{
    color: #aeb1ff;
}

#menu a:hover, .topmenu.on a {
    color:#4C4C4C;
}


.topmenu-options:hover{
    cursor: pointer;
}

.dropdown-inner{
    display:none;
    margin-left: 10px;
    position:relative;
    z-index: 500;
}

.dropdown-outer{
    display:inline;
}

ol  {
    list-style: none;
}

.edit-input{
    width: 160px;
    font-size: 12px;
}