.onoffswitch-settings {
    position: relative;
    width: 51px;
    bottom: 27px;
    left: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-settings2 {
    position: relative;
    width: 51px;
    bottom: 27px;
    left: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}