.TExChTextField1 {
    margin-left: 10px;
    margin-top: 7px;
    resize: none;
    height: 40px;
    width: 100px;
}

.TExChTextField2 {
    margin-left: 10px;
    margin-top: 7px;
    resize: none;
    height: 150px;
    width: 250px;
}

.TExChDiv {
    z-index: 9999999;
    width: 300px;
    height: 500px;
    border: 1px solid rgb(21, 20, 20);
    margin-bottom: 4.6px;
    position: absolute;
    bottom: 50px;
    background: rgb(35, 35, 35);
    border-radius: 2px;
    margin-left: 15px;
    display: none;
}

.btnC {
    color: #AAAAAA!important;
    width: 38px;
}

.AddButton {
    width: 115px;
    margin-top: 10px;
    margin-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: Arial;
    color: #d3d3d3;
    font-size: 12px;
    background: #5b5b5b;
    padding: 10px 15px 10px 15px;
    border: solid #151515 1.5px;
    text-decoration: none;
}

.AddButton:hover {
    background: #161616;
    text-decoration: none;
}

.secondCol {
    float: right;
    margin-right: 20px;
}